<div id="wrapper">
    <h1>Saved Articles</h1>
    <div class = "container">
        {{#each articles}}
        <div class="row">
            <div class="col">
                <div class="articles">   
               
                        <img src={{this.img}}></img>
                        <h5><a href = {{buildFtLink this.link}}>{{this.title}}</a></h5>
                        <p>{{this.summary}}</p>
                        <p>{{this.link}}</p>
                        <button type= "button" class="saveButton" data-id={{this._id}}>Save Article</button>
                   
                </div>
            </div>
            <div class="col">
                <div id="notes">
                 
                            <form> 
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Write a note!</label>
                                    <textarea id={{buildTaId this._id}} class="form-control" id="exampleFormControlTextarea1" rows="3">{{this.note}}</textarea>
                                </div>
                                <button type="button" class="saveNoteButton" data-id={{this._id}}>Save</button>
                            </form>
                        </div>
                </div>
            </div>
         {{/each}}
    </div>
</div>

<script src="article.js"></script>


